body{
    background-color:rgb(236, 236, 211);
}

.header{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(121, 61, 6);
    background-color: goldenrod;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.facts{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:22px
}

.emphasized{
    font-weight:bold;
    color:rgb(83, 46, 11);
}

.objectback{
    background-image: url("../assets/img/petco.jpg");
    background-repeat: no-repeat;

  background-size: 100% 100%;
}